* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;
}

.container{
    position: relative;
}

.clock{
    width: 300px;
    height: 300px;
    background-color: rgba(255,255,255,0.1);
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.25);
    box-shadow: 0px 0px 9px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock::before{
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: white;
    z-index:8;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset:10px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    /* background-color: var(--clr); */
    height: 64px;
    width: 4px;
    border-radius: 6px;
    transform-origin: bottom center;
    transform: rotate(0deg);
}

#hour{
    z-index: 4;
    background-color: red;
    height: 55px;
    width: 4px;
    /* transform: rotate(270deg); */
}

#minute{
    z-index: 3;
    background-color: blue;
    height: 72px;
    width: 4px;
}

#second{
    z-index: 2;
    height: 89px;
    width: 3px;
    background-color: white;

}
